<a href="https://twitter.com/mark_koslow"><img src="{{asset "images/social/ico-twitter.png"}}" alt="twitter" ></a>
<a href="http://instagram.com/mark_koslow"><img src="{{asset "images/social/ico-instagram.png"}}" alt="instagram" ></a>
<a href="http://www.linkedin.com/pub/mark-koslow/75/b3/83a"><img src="{{asset "images/social/ico-linkedin.png"}}" alt="linkedin" ></a>
<a href="https://github.com/MarkKoslow"><img src="{{asset "images/social/ico-github.png"}}" alt="github" ></a>


